# <span style="color:rgb(255, 0, 255)">LAB IMBALANCED DATA | AINARA GUERRA </span>

# <span style="color:rgb(255, 0, 255)"> Instructions  </span> 
1. Load the dataset and explore the variables.
2. We will try to predict variable Churn using a logistic regression on variables tenure, SeniorCitizen,MonthlyCharges.
3. Extract the target variable.
4. Extract the independent variables and scale them.
5. Build the logistic regression model.
6. Evaluate the model.
7. Even a simple model will give us more than 70% accuracy. Why?
8. Synthetic Minority Oversampling TEchnique (SMOTE) is an over sampling technique based on nearest neighbors that adds new points between existing points. Apply imblearn.over_sampling.SMOTE to the dataset. Build and evaluate the logistic regression model. Is it there any improvement?
9. Tomek links are pairs of very close instances, but of opposite classes. Removing the instances of the majority class of each pair increases the space between the two classes, facilitating the classification process. Apply imblearn.under_sampling.TomekLinks to the dataset. Build and evaluate the logistic regression model. Is it there any improvement?

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix
import warnings
from sklearn.metrics import cohen_kappa_score
from sklearn.model_selection import train_test_split
warnings.filterwarnings('ignore')

### <span style="color:rgb(255, 0, 255)">1. Load the dataset and explore the variables.</span>

In [3]:
churnData = pd.read_csv('customer_churn.csv',sep=",")
churnData.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### <span style="color:rgb(255, 0, 255)">2. We will try to predict variable Churn using a logistic regression on variables tenure, SeniorCitizen,MonthlyCharges.</span>

In [4]:
churnData.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [5]:
df = churnData.copy()
df = df[['tenure', 'SeniorCitizen', 'MonthlyCharges', 'Churn']]
df

      tenure  SeniorCitizen  MonthlyCharges Churn
0          1              0           29.85    No
1         34              0           56.95    No
2          2              0           53.85   Yes
3         45              0           42.30    No
4          2              0           70.70   Yes
...      ...            ...             ...   ...
7038      24              0           84.80    No
7039      72              0          103.20    No
7040      11              0           29.60    No
7041       4              1           74.40   Yes
7042      66              0          105.65    No

[7043 rows x 4 columns]

In [8]:
df.columns = df.columns.str.lower()
df.head()

   tenure  seniorcitizen  monthlycharges churn
0       1              0           29.85    No
1      34              0           56.95    No
2       2              0           53.85   Yes
3      45              0           42.30    No
4       2              0           70.70   Yes

### <span style="color:rgb(255, 0, 255)">3. Extract the target variable.</span>

In [9]:
y = df[['churn']]
X = df.drop(['churn'], axis=1)

In [25]:
y.head()

  churn
0    No
1    No
2   Yes
3    No
4   Yes

In [21]:
X.head()

   tenure  seniorcitizen  monthlycharges
0       1              0           29.85
1      34              0           56.95
2       2              0           53.85
3      45              0           42.30
4       2              0           70.70

### <span style="color:rgb(255, 0, 255)">4. Extract the independent variables and scale them.</span>

In [10]:
transformer = MinMaxScaler().fit(X)
X_minmax = transformer.transform(X)
X_norm = pd.DataFrame(X_minmax,columns=X.columns)
X = X_norm
X.head()

     tenure  seniorcitizen  monthlycharges
0  0.013889            0.0        0.115423
1  0.472222            0.0        0.385075
2  0.027778            0.0        0.354229
3  0.625000            0.0        0.239303
4  0.027778            0.0        0.521891

### <span style="color:rgb(255, 0, 255)">5. Build the logistic regression model.</span>

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [32]:
len(X_test)

2113

In [33]:
classing = LogisticRegression(random_state=0).fit(X_train, y_train)
predictions = classing.predict(X_test)

In [34]:
confusion_matrix(y_test,predictions)

array([[1425,  114],
       [ 319,  255]], dtype=int64)

In [35]:
classing.score(X_test,y_test)

0.7950780880265026

### <span style="color:rgb(255, 0, 255)">6. Evaluate the model.</span>

<span style="color:rgb(255, 0, 255)">The model it's good, evethough we didn't do any cleaning.</span>

### <span style="color:rgb(255, 0, 255)">7. Even a simple model will give us more than 70% accuracy. Why?</span>

<span style="color:rgb(255, 0, 255)">
# Maybe it is because the data is clean enough. And, also, because while linnear regressions might need some extra steps, such as normalizing, logistic regressions might not need that.
</span>

In [11]:
df.isna().sum()
# the data is pretty clean.

tenure            0
SeniorCitizen     0
MonthlyCharges    0
Churn             0
dtype: int64

### <span style="color:rgb(255, 0, 255)">8. Synthetic Minority Oversampling TEchnique (SMOTE) is an over sampling technique based on nearest neighbors that adds new points between existing points. Apply imblearn.over_sampling.SMOTE to the dataset. Build and evaluate the logistic regression model. Is it there any improvement?</span>

In [11]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
transformer = StandardScaler().fit(X)
X_smote = transformer.transform(X)
y_smote = y
X_sm, y_sm = smote.fit_resample(X_smote, y_smote)
y_sm.value_counts()

churn
No       5174
Yes      5174
dtype: int64

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.3, random_state=100)
classification = LogisticRegression(random_state=0, multi_class='ovr').fit(X_train, y_train)
predictions = classification.predict(X_test)

classification.score(X_test, y_test)

0.7484702093397746

### <span style="color:rgb(255, 0, 255)">9. Tomek links are pairs of very close instances, but of opposite classes. Removing the instances of the majority class of each pair increases the space between the two classes, facilitating the classification process. Apply imblearn.under_sampling.TomekLinks to the dataset. Build and evaluate the logistic regression model. Is it there any improvement?</span>

In [14]:
from imblearn.under_sampling import TomekLinks

tl = TomekLinks(sampling_strategy = 'majority')
X_tl, y_tl = tl.fit_resample(X, y)
y_tl.value_counts()

churn
No       4693
Yes      1869
dtype: int64

In [15]:
X_tl2, y_tl2 = tl.fit_resample(X_tl, y_tl)
y_tl2.value_counts()

churn
No       4542
Yes      1869
dtype: int64

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X_tl, y_tl, test_size=0.3, random_state=100)
classification = LogisticRegression(random_state=0, multi_class='ovr').fit(X_train, y_train)
predictions = classification.predict(X_test)

classification.score(X_test, y_test)

0.7932960893854749

In [17]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

          No       0.83      0.90      0.86      1424
         Yes       0.66      0.52      0.58       545

    accuracy                           0.79      1969
   macro avg       0.75      0.71      0.72      1969
weighted avg       0.78      0.79      0.79      1969

<span style="color:rgb(255, 0, 255)"> It is a slightly good improvement, but I don't know if this justify using Tomek links.</span>